div {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.8em;
    padding-top: 0.2mm;
    padding-bottom: 0.2mm;
}

.date {
    font-size: 0.4em;
    text-align: right;
    font-family: 'Recia-Bold';
    color: #337ab7;
}

/* Divs */
.quote {
    font-family: 'Recia-SemiboldItalic';
    border: #337ab7;
    border-width: 0.2em;
    border-style: solid;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: #f5f5f5;
}

.example {
    border: #6f1616;
    border-style: solid;
    border-width: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.definition {
    font-family: 'Recia-Light';
    border: #9b9b9b;
    border-width: 0.2em;
    border-style: solid;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.definition h3 {
    color:black;
}

/* KaTeX */
.katex {
    font-size: 1.1em;
}
