section, main {
    display: block;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Recia-Medium';
}

header {
    font-weight: normal;
    font-family: 'Recia-Medium';
    font-size: 2.5em;
    width: 90%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.3em;
    margin-top: 0.8em;
}

main {
    width: 90%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    /* text-align: justify; */
}

h1, h2, h3 {
    font-weight: normal;
    font-family: 'Marcellus SC';
    margin-bottom: 0.2em;
    margin-top: 0.8em;
    color: #6f1616;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    text-decoration: wavy;
    color:aliceblue;
    background-color:#337ab7;
    transition-duration: 0.25s;
}